{% extends 'main.html' %}

{% block content %}
<!-- ========== DASHBOARD ========== -->
<div class="dashboard">
    <!-- ---------- DASHBOARD OVERVIEW CARDS ---------- -->
    <div class="dashboard__overview">
        <div class="dashboard__card dashboard__stock-in-hand">
            <h5 class="dashboard__card-title">Orders</h5>
            <div class="dashboard__card-number-container">
                <h1 class="dashboard__card-number">{{total_orders}}</h1>
            </div>
        </div>
        <div class="dashboard__card dashboard__pending">
            <h5 class="dashboard__card-title">Pending</h5>
            <div class="dashboard__card-number-container">
                <h1 class="dashboard__card-number">{{orders_pending_count}}</h1>
            </div>
        </div>
        <div class="dashboard__card dashboard__paid">
            <h5 class="dashboard__card-title">Paid</h5>
            <div class="dashboard__card-number-container">
                <h1 class="dashboard__card-number">{{orders_paid_count}}</h1>
            </div>
        </div>
        <div class="dashboard__card dashboard__total-products">
            <h5 class="dashboard__card-title">Cash</h5>
            <div class="dashboard__card-number-container">
                <h1 class="dashboard__card-number">{{total_cash}}$</h1>
            </div>
        </div>
    </div>
    
    <!-- ---------- RECENT ORDERS TABLE ---------- -->
    {% include 'recentOrder.html' %}
    </table>
    <!-- empty container ( for showing "NOTHING HERE") -->
    {% include 'nothing.html' %}
</div>
{% endblock %}