{% extends 'common/main.html' %}

{% block content %}

<!-- ======== USERS ========= -->
<div class="users">
    <!-- --------- SUPPLIER --------- -->
    <div class="supplier">
        {% for customer in customers %}
        <div class="supplier__card">
            <div class="supplier__img-container">
                <img src="{{ customer.profile_image.url }}" alt="" class="supplier__img">
            </div>

            <div class="supplier__info-container">
                <h5 class="supplier__name">{{customer.name}}</h5>
                <h6 class="supplier__email">{{customer.email}}</h6>
            </div>

            <div class="supplier__progress-container">
                <div class="supplier__progressbar">
                    <div class="supplier__progress"
                    style="width: {{customer.progress}}%;"></div>
                </div>
                <div class="supplier__parcentage">{{customer.progress}}%</div>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <!-- <div class="separator"></div> -->

<!--
    <div class="form">
        <div class="form__container">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form__card form__category-card">
                <div class="form__header-container">
                    <h5 class="form__header">Customer</h5>
                </div>
    
                <div class="form__list">
                    <div class="form__item">
                        <h5 class="form__name">username</h5>
                        <div class="form-group">
                            <input type="text" class="form__inp" name="username">
                        </div>
                    </div>
                </div>

                <div class="form__list">
                    <div class="form__item">
                        <h5 class="form__name">email</h5>
                        <div class="form-group">
                            <input type="text" class="form__inp" name="email">
                        </div>
                    </div>
                </div>

                <div class="form__list">
                    <div class="form__item">
                        <h5 class="form__name">password</h5>
                        <div class="form-group">
                            <input type="password" class="form__inp" name="password">
                        </div>
                    </div>
                </div>

                <div class="form__list">
                    <div class="form__item">
                        <h5 class="form__name">confirm passowrd</h5>
                        <div class="form-group">
                            <input type="password" class="form__inp" name="confirmPassword">
                        </div>
                    </div>
                </div>
    
                <input type="submit" name="submit" class="form__button">Add Customer</input>
            </div>
            </form>
        </div>
    </div>
-->
</div>

{% endblock %}