{% load static %}
<!-- ========== TOPBAR ========== -->
<div class="topbar">
    <!-- ---------- TOPBAR SEARCH CONTAINER ---------- -->
    <img src="{% static 'icons/ic-menu.svg' %}" alt="" class="menu">
    <h3 class="top__title">Welcome {{request.user}}</h3>
    <form class="search__container" autocomplete="off" id="search-form" method="post">
        {% csrf_token %}
        <img src="/static/icons/ic-input-search.svg" alt="" class="search__img">
        <input type="text" class="search__inp" placeholder="Search .." id="search-input">
    </form>

    <!-- ---------- TOPBAR RIGHT CONTAINER ---------- -->
    <div class="right">
        <div class="right__calendar-container">
            <img src="/static/icons/ic_calendar.svg" alt="" class="right__icon right__calendar">
            <h6 id="right__calendar-txt"></h6>
        </div>
        <div class="right__icon-container right__icon-container--hidden">
            <img src="/static/icons/ic-input-search.svg" alt="" class="right__icon right__search">
        </div>
        <div class="right__icon-container">
            <img src="/static/icons/ic_notifications.svg" alt="" class="right__icon right__notification">
        </div>
        <div class="right__img-container">
            <img src="{{ request.user.customer.profile_image.url }}" alt="" class="right__img">
        </div>
    </div>

    <div class="right__box not-visible" id="result-box">

    </div>
</div>

<script>
    const sendSearchData = (series) => {
        $.ajax({
            type: 'POST',
            url: '{% url "search" %}',
            data: {
                "csrfmiddlewaretoken":csrf,
                'series':series,
            },
            success: (res) => {
                const data = res.data
                result_box.innerHTML = ""
                if (Array.isArray(data)) {
                    data.forEach(series => {
                        result_box.innerHTML += `
                            <a href="" class='link'>
                                <h5>${series.name}</h5>
                            </a> 
                        `
                    })
                }else {
                    if (search_input.value.length > 0) {
                        result_box.innerHTML = `<b>${data}</b>`
                    } else {
                        result_box.classList.add('not-visible')
                    }
                }
            },
            error: (err) => {
                console.log(err);
            }
        })
    }

    let date = new Date().toUTCString().slice(5, 16);

    date_txt = document.getElementById('right__calendar-txt');

    date_txt.innerHTML = "<span class='right__calendar-txt'>"+date+"</span>";

    const search_form = document.getElementById("search-form");

    const search_input = document.getElementById("search-input");

    const result_box = document.getElementById('result-box');

    const csrf = document.getElementsByName("csrfmiddlewaretoken")[0].value;

    search_input.addEventListener('keyup', e=>{
        console.log(e.target.value);
        if (result_box.classList.contains('not-visible')){
        result_box.classList.remove('not-visible')
        }

        sendSearchData(e.target.value)
    })

</script>